.mainstyle {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/wallpaper-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
