.herodetails {
  background-image: url("../../assets/img/film.png");
  background-color: rgba(0, 0, 0, 0.905);
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 120px;

  .herofilter::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    background: rgba(0, 0, 0, 0.64);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  .heroimg {
    height: 75vh;
  }
}
