.home {
  background-color: rgba(0, 0, 0, 0.947);
  width: 100%;
  background-image: url("../../assets/img/film.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 110px;
}
.carousel-control-prev {
  left: -75px !important;
}
.carousel-control-next {
  right: -75px !important;
}
.carousel-item::after {
  content: "";
  position: absolute;
  inset: 0 !important;
  background: rgba(0, 0, 0, 0.438);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
}
.trans-withe {
  background-color: rgba(255, 255, 255, 0.562);
}

.mytest {
  background-color: black !important;
  height: 60vh !important;
  margin-top: 72px;
  .imgContainer {
    height: 60vh !important;
    .sliderText {
      h2 {
        font-weight: bolder;
        font-size: 2rem;
        padding-bottom: 20px;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}
.sliderTop {
  background-color: black;
  padding-top: 50px;
}
