.home {
  background-color: rgba(0, 0, 0, 0.947);
  width: 100%;
  background-image: url("../../assets/img/film.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 110px;
}
.carousel-control-prev {
  left: -75px !important;
}
.carousel-control-next {
  right: -75px !important;
}
.carousel-item::after {
  content: "";
  position: absolute;
  inset: 0 !important;
  background: rgba(0, 0, 0, 0.64);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
}
.trans-withe {
  background-color: rgba(255, 255, 255, 0.562);
}
.hero {
  height: 75vh !important;
}
.slidertest {
  max-width: 100%;
  background-color: black;
  padding-bottom: 120px !important;
}
.tt {
  height: 400px !important;
  width: 100 !important;
}
.slick-dots {
  display: none !important;
}
