.navbar {
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }
  .btn-close {
    --bs-btn-close-focus-shadow: transparent !important;
  }
}
